<!DOCTYPE html>
<html>
<head>
  <title>AlphaBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<!--
#in the same way that we made a partial for new/edit we are moving the one time pop-up messages to its own file and embedding them here
-->
  <%= render 'layouts/messages' %>
<%= yield %>

</body>
</html>
